@font-face {
  font-family: "20kopeek";
  src: local("20kopeek"), local("20 Kopeek"), local("20-kopeek"),
    url("./fonts/20-kopeek.woff2") format(woff2);
  font-display: block;
}

@font-face {
  font-family: "20kopeekBook";
  src: local("20kopeekbook"), local("20 Kopeek Book"), local("20-kopeek-book"),
    url("./fonts/20-kopeek-book.woff2") format(woff2);
  font-display: block;
}

:root {
  --font-color: #181818;
}

html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "20kopeek";
  font-size: 1.5rem;
  color: var(--font-color);
}
